@model IEnumerable<StaffAtt.Web.Models.StaffManagementListViewModel>

@{
    ViewData["Title"] = "List";
}

<h4>List of all staff</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BasicInfo.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasicInfo.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasicInfo.Alias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasicInfo.IsApproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasicInfo.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.BasicInfo.FullName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.BasicInfo.EmailAddress)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.BasicInfo.Alias)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.BasicInfo.IsApproved)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.BasicInfo.Title)
            </td>
            <td>
                    <!-- We redirect to Update Page (with Button) and we set value for Id parameter on the route. -->
                    <a asp-action="Update" asp-route-id="@item.BasicInfo.Id" class="btn btn-secondary">Edit</a> |
                    <!-- We redirect to Details Page (with Button) and we set value for Id parameter on the route. -->
                    <a asp-action="Details" asp-route-id="@item.BasicInfo.Id" class="btn btn-primary">Details</a> |
                    <!-- We redirect to Delete Page (with Button) and we set value for Id parameter on the route. -->
                    <a asp-action="Delete" asp-route-id="@item.BasicInfo.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>