@model StaffAtt.Web.Models.StaffDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

@* Some warning message from different Action, probably from Create *@
@if (string.IsNullOrEmpty(Model.Message) == false) {
    <h4 class="text-danger">@Model.Message</h4>
}

@if (Model.BasicInfo.IsApproved == false)
{
    <h4 class="text-danger">You are not approved to Check-in.</h4>
}

@if (Model == null)
{
    <h4>The requested record was not found.</h4>
}
else 
{
    <div>
        <h4>Your personal information.</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BasicInfo.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BasicInfo.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BasicInfo.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BasicInfo.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BasicInfo.EmailAddress)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BasicInfo.EmailAddress)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BasicInfo.Alias)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BasicInfo.Alias)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BasicInfo.IsApproved)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BasicInfo.IsApproved)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BasicInfo.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BasicInfo.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Street)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Street)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.City)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Zip)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Zip)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.State)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.State)
            </dd>
            @foreach (var item in Model.PhoneNumbers)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PhoneNumbers)
                </dt>
                <dd class="col-sm-10">
                    @item.PhoneNumber
                </dd>
            }
        </dl>
    </div>
    <div>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        <a asp-action="Index">Back to List</a>
    </div>
}

